* {
  margin: 0;
  padding: 0;
  background-color:  #e8e4c9;
}

#input {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  text-align: center;
  justify-content: center;
}

#mazeDepth, #mazeWidth, #enter {
  width: auto;
  height: auto;
  font-size: 3vw;
}

#gamescreen {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

#maze {
  margin: 20px;
  border: 20px solid #333;
  position: absolute;
}

.corridor {
  width: 18px;
  height: 18px; /* depth in code!*/
  float: left;
  border: 1px solid #000;
  background-color: #a9a9a9;
}

.wall {
  width: 20px;
  height: 20px; /* depth in code!*/
  float: left;
  background-color: #000;
}
