* {
  margin: 0;
  padding: 0;
  background-color:  #e8e4c9;

}

.maze {
  width: 160px;
  height: 160px;
  margin: 20px;
  border: 20px solid #333;
  left: 25%;
  position: absolute;
}

.corridor {
  width: 20px;
  height: 20px;
  float: left;
  background-color: #a9a9a9;
  /* font-size: 15px;
  text-align: center;
  vertical-align: middle; */
}

.wall {
  width: 20px;
  height: 20px;
  float: left;
  background-color: #000;
  /* font-size: 15px;
  text-align: center;
  vertical-align: middle; */
}
